.tabs {
    border: 1px solid #f0f0f0;
}

.tabs ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 0.5em 0;
    border-bottom: 2px solid #f0f0f0;
    flex-wrap: wrap;

    li {
        padding: 0.25em 1em;
        cursor: pointer;
        position: relative;
        white-space: nowrap;
    }

    li.active:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        position: absolute;
        background: black;
    }
}